$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(2px);
  }
  75% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.page-content {
  background: url("../images/small_steps.png") repeat;
  height: 100vh;
  padding: 0;
}

.col-sm-12,
.col-md-10,
.col-md-9,
.col-md-3 {
  padding: 0;
}

.pac-container {
  background-color: #FFF;
  z-index: 1052 !important;
  position: fixed;
  display: inline-block;
  float: left;
}

#pac-input, #username {
  width: 90%;
}

.feed {

  h2 {
    padding: 0 15px;
  }
}

.fab {
  border-radius: 50%;
  bottom: 5vmin;
  box-shadow: 0 3px 15px rgba(0,0,0,.5);
  height: 100px;
  left: 5vmin;
  position: absolute;
  width: 100px;

  &:focus {
    outline: none;
  }

  &:hover {
    > i {
      animation: bounce .7s infinite ease-in-out; 
    }
  }
}